
body {
    background-color: #f4f4f4;
    margin-bottom: 0;
}
.sign_content {
    height: 390px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 3px 1px #E3E4E8;
}
.sign_content_up {
    height: 170px;
    background-color: #FB6762;
    border-radius: 5px 5px  0 0;
}
.sign_content_logo {
    background: url(../img/regin_ok.png) no-repeat;
    width: 312px;
    height: 245px;
    margin: 0 auto;
    background-position: 0 30px;
}
.sign_text {
    font-size: 14px;
    color: #2e2e2e;
    text-align: center;
}
.sign_text p {
    margin: 0;
}
.sign_text a {
    text-decoration: underline;
}
.sign_title {
    font-size: 24px;
    color: #fa2f28;
    font-weight: 700;
    padding-bottom: 10px;
}
.signUp {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 3px 1px #E3E4E8;
    padding-bottom: 20px;
    width: 1140px;
    margin: 20px auto;
}
.signUp_top {
    height: 295px;
    background-color: #73D9D1;
    border-radius: 5px 5px 0 0;
    position: relative;
}
.signUp_top .signUp_logo {
    background: url(../img/logo.png) no-repeat;
    position: absolute;
    width: 282px;
    height: 50px;
    left: 60px;
    top: 40px;
}
.signUp_top .signUp_bg {
    background: url(../img/sign_up.png) no-repeat;
    position: absolute;
    width: 438px;
    height: 308px;
    top: 0px;
    right: 97px;
}
.signUp_form {
    padding: 10px 62px 0;
    position: relative;
}
.signUp_list,
.signUp_info {
    position: relative;
}
.signUp_form_title {
    font-size: 14px;
    color: #A8A8A8;
    height: 40px;
    line-height: 50px;
    margin-bottom: 25px;
}
.step {
    width: 340px;
    padding: 12px 0;
    border-radius: 5px;
    border: 2px solid #E3E4E8;
    text-indent: 2.5em;
    position: relative;
    margin: 0 10px 10px 0;
    padding-right: 20px;
    background: url(../img/man.png) no-repeat;
    background-position: 10px 12px;
    margin-bottom: 30px;
}
.signUp_password {
    background: url(../img/key.png) no-repeat;
    background-position: 10px 12px;
    margin-bottom: 0;
}
.signUp_btn {
    width: 162px;
    outline: none;
    height: 47px;
    display: inline-block;
    background-color: #FF5300;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 47px;
    box-shadow: 0px 3px 0 #DE4901;
    text-align: center;
    border-radius: 5px;
    border: 0;
    margin-bottom: 15px;
    position: absolute;
    right: 155px;
    top: 0px;
}
.signUp_sen {
    font-size: 16px;
    color: #464646;
    position: absolute;
    right: 392px;
    top: 122px;
    margin: 10px 0;
    z-index: 999;
}
.signUp_sen a {
    color: #73d9d1;
}
.regin {
    height: 553px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 3px 1px #E3E4E8;
    margin: 20px auto;
}
.regin .regin_logo {
    background: url(../img/logo.png) no-repeat;
    position: absolute;
    width: 282px;
    height: 50px;
    left: 60px;
    top: 40px;
}
.regin .regin_bg {
    background: url(../img/r_bg.png) no-repeat;
    position: absolute;
    width: 282px;
    height: 202px;
    top: 10px;
    right: 80px;
}
.regin_top {
    height: 240px;
    background-color: #5CCBBD;
    border-radius: 5px 5px 0 0;
    position: relative;
}
.regin_main {
    padding: 20px 205px;
    overflow: hidden;
}
.regin_main_title {
    font-size: 16px;
    color: #231815;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
}
.signUp_number {
    border-radius: 5px;
    border: 2px solid #E3E4E8;
    padding: 12px 0;
    text-indent: 2.5em;
    position: relative;
    margin-right: 2px;
    padding-right: 20px;
}
.regin_send {
    width: 152px;
    height: 47px;
    outline: none;
    display: inline-block;
    color: #231815;
    font-weight: bold;
    font-size: 14px;
    line-height: 50px;
    box-shadow: 0px 3px 0 #CCCCCC;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px\8;
    border: 0;
    background: #f0f0f0 url(../img/phone.png) no-repeat 8px;
    text-indent: 1.5em;
}
.regin_btn {
    width: 240px;
    height: 50px;
    display: inline-block;
    outline: none;
    background-color: #FF5300;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    box-shadow: 0px 3px 0 #DE4901;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px\8;
    border: 0;
}
.regin-footer {
    text-align: center;
    margin: 10px 0;
}
.res_check {
    margin-top: 10px;
    color: #9a9a9a;
    font-size: 14px;
}
.res_check input {
    vertical-align: text-top;
    margin-top: 4px\9;
}
.res_check a {
    color: #9a9a9a;
}
.res_check a:hover {
    color: #9a9a9a;
}
.res_check a:active {
    color: #9a9a9a;
}
.sup {
    margin: 20px auto;
    background-color: #fff;
}
.sup_top {
    position: relative;
    border-radius: 5px 5px 0 0;
    height: 240px;
    background-color: #FB6762;
}
.sup_top .sup_logo {
    background: url(../img/logo.png) no-repeat;
    position: absolute;
    width: 282px;
    height: 50px;
    left: 60px;
    top: 40px;
}
.sup_bg {
    background: url(../img/s-bg.png) no-repeat;
    position: absolute;
    width: 220px;
    height: 218px;
    top: 27px;
    right: 65px;
}
.sup_main {
    padding: 50px 140px;
    overflow: hidden;
    box-shadow: 0px 3px 1px #E3E4E8;
    margin-bottom: 20px;
}
.sup_main label {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}
.sup_lable {
    margin-top: 25px!important;
}
.sup_check {
    margin-top: 22px!important;
}
.sup_p2 {
    padding: 0;
}
.sup_b {
    border-radius: 5px !important;
    padding: 0;
}
.sup-p {
    text-align: center;
    overflow: hidden;
    margin-bottom:20px;
}
.sup-p h2 {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    padding: 0 5%;
    position: relative;
    letter-spacing: -1px;
    color: #808080;
}
.sup-p h2:before,
.sup-p h2:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 9999px;
    border-top: 1px solid #ccc;
}
.sup_s {
    font-size: 14px;
    color: #3fcbc0;
    line-height: 32px;
    font-weight: bold;
    cursor: pointer;
}
.sup-p h2:before {
    right: 100%;
}
.sup-p h2:after {
    left: 100%;
}
.sup_p1 {
    width: 108px;
    margin-left: 22px;
    padding: 0!important;
}
.sup_m {
    background: url(../img/boy.png) no-repeat;
    width: 43px;
    height: 46px;
    display: inline-block;
}
.sup_g {
    background: url(../img/gril.png) no-repeat;
    width: 43px;
    height: 46px;
    display: inline-block;
}
.sup_btn {
    height: 55px;
    margin-top: 30px;
    position: relative;
}
.sup-cancel-btn {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    background-color: #ff5300;
    outline: none;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 3px 0 #DE4901;
    color: #fff;
    border: 0;
    border-radius: 5px;
    margin: 0 15px;
    font-weight: bold;
    padding: 0 20px;
}
.sup-cancel {
    position: absolute;
    left: 287px;
}
.sup-cancel-btn:hover,
.sup-cancel-btn:focus,
.sup-cancel-btn:active,
.sup-cancel-btn {
    color: #ffffff;
}
.supsave_btn {
    width: 238px;
    height: 50px;
    display: inline-block;
    background-color: #FF5300;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
    box-shadow: 0px 3px 0 #DE4901;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px\8;
    border: 0;
}
.sup_sexm {
    background: url(../img/a_03.png) no-repeat 0px 4px;
    display: inline-block;
    padding-left: 12px;
}
.sup_sexg {
    background: url(../img/a_05.png) no-repeat 0px 4px;
    display: inline-block;
    padding-left: 12px;
}
.signUp_info img {
    width: 134px;
    height: 45px;
}
.btn-dis {
    background-color: #ccc;
    box-shadow: 0px 3px 0 #CCCCCC;
    color: #231815;
}
.sign_verify {
    width: 190px;
    border-radius: 5px;
    border: 1px solid #e3e3e8;
    padding: 12px 0;
    text-indent: 1em;
}
.sup-help {
    font-size: 12px;
    color: #ff5300;
    vertical-align: -webkit-baseline-middle;
    margin-left: 10px;
}
.form-group .sup-la {
    width: 282px;
    text-align: right;
    display: block;
    float: left;
    font-size: 14px;
    padding-top: 6px;
}
.form-group .col {
    float: left;
    margin-left: 20px;
    position: relative;
}
.form-group .col input {
    width: 270px;
    padding: 5px 12px;
}
.sup-radios {
    padding: 22px 0 0 4px;
}
.sup-radios label {
    display: inline-block;
    cursor: pointer;
    line-height: 20px;
    width: 30px;
    height: 30px;
}
.label_check input,
.label_radio input {
    margin-right: 5px;
}
.label{
    border-radius:15px;
    padding:4px 14px;
    margin:0 5px 5px 0;
}
.label_lb1 {
    border:1px solid #fb6762;
    background-color:#fff;
    color:#fb6762;
}
.label_lb2 {
    border:1px solid #3a94c3;
    background-color:#fff;
    color:#3a94c3;
}
.label_lb3 {
    border:1px solid #a7bc32;
    background-color:#fff;
    color:#a7bc32;
}
.label_lb1:hover {
    background-color:#fee8e8;
    color:#fb6762;
}
.label_lb2:hover {
    background-color:#e2eff6;
    color:#3a94c3;
}
.label_lb3:hover {
    background-color:#f2f5e0;
    color:#a7bc32;
}
.label_special1 {
    background-color:#fb6762;
    border:1px solid #fb6762;
    color:#fff;

}
.label_special2 {
    background-color:#3a94c3;
    border:1px solid #3a94c3;
    color:#fff;

}
.label_special3 {
    background-color:#a7bc32;
    border:1px solid #a7bc32;
    color:#fff;

}
.add-js .label_check,
.add-js .label_radio {
    padding-left: 32px;
}
.add-js .label_radio,
.label_check {
    background: url(../img/icon.png) no-repeat;
}
.add-js label.x_on {
    background-position: 0px 0px!important;
}
.add-js label.l_on {
    background-position: 0px 4px;
}
.add-js .label_radio {
    background-position: 0px -32px;
}
.add-js .label_check {
    background-position: 0px -36px;
    width: 97px;
    height: 28px;
    margin-bottom: 15px;
    padding-top: 5px;
}
.add-js .label_check input,
.add-js .label_radio input {
    position: absolute;
    left: -9999px;
}
.sup-checkboxes {
    padding-left: 20px;
}
.sup_p2 {
    width: 105px!important;
    padding: 0!important;
}
.sup-c {
    padding-left: 6px!important;
    border: 0!important;
    background: #fff!important;
}
.sup-girl {
    background: url(../img/gril.png) no-repeat;
    width: 44px;
    height: 46px;
    display: block;
    margin-top: -13px;
}
.sup-boy {
    background: url(../img/boy.png) no-repeat;
    width: 44px;
    height: 46px;
    display: block;
    margin-top: -13px;
}
.sup_b1 {
    width: 80px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 5px;
    line-height: 34px;
}
.sup_b2 {
    width: 74px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 5px;
    line-height: 34px;
}
.sup_p3 {
    width: 105px!important;
    padding: 0!important;
}
.sup_p4 {
    width: 85px;
    margin-left: 22px;
    padding: 0!important;
}
.sup_p5 {
    display:inline-block;
}
.sup_b3 {
    height: 34px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 5px;
    line-height: 34px;
}
.copyright-menber {
    padding: 40px 0;
}
.copyright-menber p {
    text-align: center;
    font-size: 12px;
    color: #333333;
    line-height: 20px;
    margin: 0;
}
.error {
    font-size: 12px!important;
    color: #ff5300!important;
    margin-top: 2px!important;
}
.regin-name,
.regin-num,
.regin-pas,
.regin-conpas {
    width: 340px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.act-up {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 3px 1px #E3E4E8;
    padding-bottom: 20px;
    width: 1140px;
    margin: 20px auto;
}
.act-top {
    height: 240px;
    background-color: #FF9845;
    border-radius: 5px 5px 0 0;
    position: relative;
}
.actTop-logo {
    background: url(../img/logo.png) no-repeat;
    position: absolute;
    width: 282px;
    height: 50px;
    left: 60px;
    top: 40px;
}
.actTop-bg {
    background: url(../img/forget.png) no-repeat;
    position: absolute;
    width: 241px;
    height: 240px;
    top: 0;
    right: 95px;
}
.act-main {
    width: 385px;
    margin: 0 auto;
    padding: 50px 0 20px;
}
.act-na {
    width: 60px;
    text-align: right;
    display: block;
    float: left;
    font-size: 14px;
    padding-top: 6px;
    font-weight: bold;
}
.act-b {
    border-radius: 3px!important;
    border: 2px solid #ccc;
}
.act-b:focus {
    border-color: #FF5300!important;
    outline: 0!important;
    box-shadow: none!important;
}
.act-number {
    width: 140px!important;
    border: 2px solid #ccc;
    position: relative;
    padding: 0 10px;
    border-radius: 5px;
}
.act-send {
    width: 130px;
    padding: 0;
    margin: 0;
    height: 32px;
    display: inline-block;
    color: #231815;
    font-weight: bold;
    font-size: 12px;
    line-height: 35px;
    box-shadow: 0px 3px 0 #CCCCCC;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px\8;
    border: 0;
    background: #f0f0f0 url(../img/phone.png) no-repeat 3px;
    text-indent: 26px;
}
.act--footer {
    text-align: center;
    margin: 10px 0;
}
.act--btn {
    width: 95px;
    height: 50px;
    display: inline-block;
    background-color: #FF5300;
    margin: 0 10px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
    box-shadow: 0px 3px 0 #DE4901;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px\8;
    border: 0;
}
.act--btn:hover,
.act--btn:active {
    color: #fff;
    text-decoration: none;
}
.clear {
    clear: both;
}
ul {
    list-style: none;
}
.user-Main {
    width: 1170px;
    max-width: 1170px;
    min-height: 865px;
    background-color: #fff;
    margin: 75px auto 170px;
    border-radius: 5px;
    border-bottom: 1px solid #E3E4E8;
}
.user-left {
    background-color: #3FCBC0;
    width: 210px;
    float: left;
    height: 865px;
    border-radius: 3px 0 0 3px;
    position:relative;

}
.user-right {
    float: right;
    width: 960px;
}

.user-li1 {
    background: url(../img/ht.png) no-repeat 30px center;
}
.user-li2 {
    background: url(../img/list-icon3.png) no-repeat 30px center;
}
.user-li3 {
    background: url(../img/list-icon4.png) no-repeat 30px center;
}
.user-li4 {
    background: url(../img/list-icon5.png) no-repeat 30px 22px;
}
.user-li5 {
    background: url(../img/list-icon1.png) no-repeat 30px 22px;
}
.user-active1 {
    border-radius: 30px 0 0 30px;
    background: #ffffff url(../img/list-icon2.png) no-repeat 30px 20px;
}
.user-active2 {
    border-radius: 30px 0 0 30px;
    background: #ffffff url(../img/bj.png) no-repeat 30px center;
}
.user-active3 {
    border-radius: 30px 0 0 30px;
    background: #ffffff url(../img/wx.png) no-repeat 30px center;
}
.user-active4 {
    border-radius: 30px 0 0 30px;
    background: #ffffff url(../img/ts.png) no-repeat 30px center;
}
.user-active5 {
    border-radius: 30px 0 0 30px;
    background: #ffffff url(../img/wj.png) no-repeat 33px 22px;
}
.user-active1 a,
.user-active2 a,
.user-active3 a,
.user-active4 a,
.user-active5 a {
    color: #454545!important;
}
.user-ul {
    padding: 50px 0 0 10px;
}
.user-ul li {
    padding-left: 65px;
    margin-left: 2px;
}

.user-ul li a {
    font-size: 16px;
    color: #f4f4f4;
    text-decoration: none;
    height: 55px;
    line-height: 55px;
}
.user-header {
    text-align:center;
    background-color:#fff;
    height:182px;
}
.user-header>p {
    color:#d0d0d0;
    vertical-align:middle;
}
.user-header .user-how {
    display:inline-block;
    height:20px;
    line-height:20px;
    width:20px;
    border:1px solid #d78900;
    background-color:#fff6e0;
    vertical-align:middle;
    border-radius:15px;
    margin-left:6px;
    color:#d78900;
}
.user-header .user-how:hover {
    background-color:#d78900;
    border:1px solid #d78900;
    color:#fff;
}
.user-header .user-header-icon {
    display:inline-block;
    height:80px;
    width:80px;
    margin-top:20px;
    border-radius:50%;
}
.user-header .user-header-icon img {
    height:100%;
    width:100%;
}
.user-info {
    display:none;
    position:absolute;
    height:40px;
    width:200px;
    line-height:40px;
    background-color:#fff6e0;
    text-align:center;
    border:1px solid #d78900;
    color:#d78900;
    border-radius:10px;
    margin:-50px 0 0 180px;
}
.user-info:after,.user-info:before{
    border: 8px solid transparent;
    border-right: 8px solid #fff6e0;
    width: 0;
    height: 0;
    position: absolute;
    top: 10px;
    left: -15px;
    content: '';
}
.user-info:before {
    border-right-color:#d78900;
    left:-16px;
}
.user-r-title {
    margin: 0 auto;
    background-color: #ECF9F9;
    padding-left: 35px;
    height: 50px;
    line-height: 50px;
}
.user-r-title span {
    padding-left: 10px;
    font-size: 14px;
}
.user-r-title span a {
    padding: 2px 10px;
    border-radius: 20px;
    position: relative;
    text-decoration:none;
}
.user-r-title .active{
    background: #3FCBC0;
    color:#fff;
}
.user-r-title .active:after {
    position: absolute;
    content: '';
    display: block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 13px solid #fff;
    margin-left: -8px;
    left: 50%;
    bottom: -15px;
}
.user-r-name {
    font-size: 18px;
    color: #ff5300;
    text-align: left;
    padding: 10px 0;
    text-indent: 5.5em;
    font-weight: bold;
}
.user-r-txt {
    color: #231815;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}
.user-r-content {
    width: 415px;
    height: 214px;
    margin: 100px auto 0;
    text-align: center;
}
.user-r-content2 {
    padding: 90px 0 0 80px;
}
.user-r-img img {
    float: left;
    margin-right: 30px;
}
.user-r-name2 {
    font-size: 18px;
    color: #ff5300;
    padding-bottom: 20px;
    text-align: left;
    font-weight: bold;
}
.user-r-t {
    float: left;
    padding-top: 50px;
}
.user-r-t p {
    line-height: 35px;
    margin: 0;
    color: #454545;
}
.user-r-t p em {
    font-style: normal;
    font-size: 16px;
    color: #ff5300;
}
.bill-right-i:nth-child(odd) {
    background-color: #FFF8E5;
}
.bill-right-i:nth-child(even) {
    background-color: #FFF3D0;
}
.user-r-h em {
    font-style: normal;
    margin-left: 20px;
}
.user-r-h-error {
    text-align: center;
    height: 200px;
    line-height: 200px;
    color: #f00;
}
.user-r-form,
.user-r-h {
    width: 840px;
    margin: 10px auto;
    position: relative;
}
.user-r-form .user-r-h-list,
.user-r-h .user-r-h-list {
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    color: #454545;
}
.user-r-form .user-r-h-btn,
.user-r-h .user-r-h-btn {
    position: absolute;
    right: 0;
    top: 37px;
    border-radius: 5px;
    padding: 5px 10px 5px 2px;
    text-indent: 12px;
    cursor: pointer;
    background-color: #FF5300;
    color: #fff;
}
.user-r-h-table {
    margin-top: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}
.user-r-h-t {
    font-size: 16px;
    color: #454545;
    height: 35px;
    line-height: 35px;
}
.user-table-t-info {
    background-color: #f4f4f4;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: rgba(12, 40, 60, 0.6);
    border-radius: 5px;
}
.t1,
.t2,
.t3,
.t4,
.t5,
.t6 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.user-table-tit {
    float: left;
}
.t1 {
    width: 165px;
    height: 48px;
}
.t2 {
    width: 100px;
    height: 48px;
}
.t3 {
    width: 245px;
    height: 48px;
}
.t4 {
    width: 100px;
    height: 48px;
}
.t5 {
    width: 118px;
    height: 48px;
}
.t6 {
    width: 75px;
    height: 48px;
}
.user-table-txt-info {
    text-align: center;
    font-size: 14px;
    color: #454545;
    height: 50px;
    line-height: 48px;
    border-bottom: 1px dashed #e1e1e1;
}
.user-table-txt-info:last-child {
    border-bottom: 0;
}
.user-r-h-input {
    margin-bottom: 15px;
}
.user-r-h-input label {
    width: 175px;
    float: left;
    line-height: 32px;
}
.user-r-h-input select {
    width: 268px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #E3E4E8;
    line-height: 36px;
    margin-left: 10px;
    padding: 0 8px;
    outline: none;
}
.user-r-h-input textarea {
    width: 465px;
    outline: none;
    display: block;
    resize: none;
    height: 260px;
    border-radius: 5px;
    border: 1px solid #E3E4E8;
    margin-left: 10px;
    padding: 8px;
}
.triangleW {
    background: url("../img/tringel.png") no-repeat;
    height: 14px;
    width: 9px;
    display: block;
    position: absolute;
    top: 10px;
    z-index: 99;
    left: 2px;
}
.t-bg {
    color: #ff5300;
    font-size: 14px;
    font-weight: bold;
}
.t--btn {
    background-color: #FF5300;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    width: 60px;
    height: 25px;
    line-height: 25px;
    margin: 12px 20px;
}
.t--btn:hover,
.t--btn:focus,
.t--btn:active,
.t--btn:visited {
    color: #fff;
    text-decoration: none;
}
.finish-s {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 3px 1px #E3E4E8;
    height: 760px;
    margin-bottom: 20px;
}
.finish-bg {
    height: 170px;
    background-color: #FC6761;
    border-radius: 5px 5px 0 0;
}
.finish-img {
    background: url("../img/suceess.png") no-repeat;
    width: 207px;
    height: 245px;
    margin: 0 auto;
    background-position: 0 35px;
}
.finish-info {
    width: 815px;
    margin: 0 auto;
    text-align: center;
}
.finish-info .finish-list-t {
    font-size: 14px;
    color: #454545;
    height: 30px;
    line-height: 30px;
}
.finish-list-info {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
}
.finish-m-txt {
    font-size: 24px;
    color: #454545;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}
.finish-m-txt em {
    font-style: normal;
    color: #ff5300;
}
.finish-m-txt b {
    font-style: normal;
    color: #e1e1e1;
    padding: 0 5px;
    font-weight: normal;
}
.finish-list-info-l {
    background-color: #fff;
    height: 45px;
    line-height: 45px;
    color: #454545;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.finish-list-info-t {
    background-color: #E1E1E1;
    height: 45px;
    line-height: 45px;
    color: #454545;
    font-size: 14px;
    text-align: center;
}
.finish-list-info-c {
    height: 84px;
}
.finish-list-li {
    float: left;
}
.b-r {
    border-right: 1px solid #E5E5E5;
}
.b-b {
    border-bottom: 1px solid #E5E5E5;
}
.f1 {
    width: 176px;
}
.f2 {
    width: 310px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.f3 {
    width: 325px;
}
.f4 {
    width: 635px;
}
.finish-list-left {
    height: 84px;
    width: 176px;
    text-align: center;
    line-height: 84px;
    float: left;
}
.finish-list-right {
    float: left;
    width: 637px;
}
.finish-list-right-t {
    width: 318px;
    float: left;
    height: 42px;
    line-height: 42px;
    text-align: center;
}
.finish-btn {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background-color: #ff5300;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 3px 0 #DE4901;
    color: #fff;
    border: 0;
    border-radius: 5px;
    margin: 20px 5px;
    font-weight: bold;
    padding: 0 20px;
    cursor: pointer;
    width: 110px;
}
.finish-btn:hover,
.finish-btn:focus,
.finish-btn:active,
.finish-btn:visited {
    color: #fff;
    text-decoration: none;
}
.finish-btn2:hover,
.finish-btn2:focus,
.finish-btn2:active,
.finish-btn2:visited {
    color: #ff5300;
    text-decoration: none;
}
.finish-btn3:hover,
.finish-btn3:focus,
.finish-btn3:active,
.finish-btn3:visited {
    color: #fff;
    text-decoration: none;
}
.bill-left {
    width: 332px;
    float: left;
    position: relative;
    margin-top: 10px;
}
.e1 {
    position: absolute;
    width: 10px;
    height: 20px;
    border-radius: 10px;
    background-color: #E3E4E8;
    top: -8px;
    left: 22px;
}
.e2 {
    position: absolute;
    width: 10px;
    height: 20px;
    border-radius: 10px;
    background-color: #E3E4E8;
    top: -8px;
    right: 22px;
}
.bill-left-time {
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #454545;
    background-color: #E2F7F6;
    text-align: center;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
.bill-left-text {
    padding: 20px 30px;
    background-color: #3FCBC0;
    border-radius: 0 0 5px 5px;
}
.bill-left-t-list {
    height: 25px;
    line-height: 25px;
    color: #ffffff;
    position: relative;
    margin: 10px 0;
}
.bill-left-t-list span {
    color: #fff;
    padding: 0;
}
.bill-left-t-list .bill-m {
    position: absolute;
    right: 0px;
    top: 0;
    font-size: 30px;
}
.bill-left-t-list .bill-m em {
    font-style: normal;
    font-size: 12px;
}
.bill-right {
    width: 475px;
    float: left;
    position: relative;
    margin: 10px 0 0 30px;
}
.bill-right-title {
    text-align: center;
    font-weight: bold;
}
.bf1 {
    background-color: #FFF8E5;
    border-radius: 8px 8px 0 0;
}
.bf2 {
    background-color: #FFF3D0;
}
.bf3 {
    background-color: #FFF8E5;
}
.bill-right-i-l {
    width: 125px;
    text-align: right;
    float: left;
}
.bill-right-i-r {
    width: 323px;
    float: left;
    text-indent: 2em;
    max-height: 150px;
    overflow: hidden;
    word-break: break-all;
}
.bill-right-i-r em {
    font-style: normal;
    padding-left: 20px;
}
.bill-active {
    background-color: #3FCBC0!important;
    color: #fff;
}
.bill-tab ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: none;
}
.bill-tab ul li {
    float: left;
    width: 120px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background-color: #ECECEC;
    margin-right: 10px;
    cursor: pointer;
}
.bill-tab-info {
    width: 868px;
    margin: 0 auto;
    height: 280px;
    padding: 40px;
}
.bill-tab-info-list {
    width: 175px;
    height: 55px;
    cursor: pointer;
    float: left;
    margin-right: 45px;
    position: relative;
}
.bill-tab-info-list img {
    border: 1px solid #ccc;
}
.bill-tab-info-list em {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #e6e6e6;
    display: block;
    position: absolute;
    top: 18px;
    left: -45px;
}
.em-bg {
    background-color: #3FCBC0!important;
}
.b-bg {
    border: 1px solid #3FCBC0!important;
}
.bill-submit p {
    margin: 0;
    color: #808080;
    line-height: 20px;
}
.bill-submit em {
    margin: 0;
    color: #ff5300;
    font-size: 12px;
}
.bill-input-btn2 {
    border-radius: 5px;
    width: 180px;
    height: 30px;
    background-color: #ff5300;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    outline: none;
    font-weight: bold;
    border: 0;
}
.bill-input-btn {
    border-radius: 5px;
    width: 180px;
    height: 30px;
    background-color: #fff;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #808080;
    border: 1px solid #ccc;
    outline: none;
}
.bill-show {
    width: 510px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -170px 0 0 -255px;
    display: none;
}
.bill-showClause {
    width: 835px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -315px 0 0 -418px;
    display: none;
    height: 630px;
    overflow-y: auto;
    padding: 20px 20px 10px;
}
.bill-showClause h4 {
    text-align: center;
    color: #9a9a9a;
    font-weight: bold;
}
.bill-showClause p {
    text-indent: 2em;
    margin: 0;
    text-align: left;
}
.bill-showClause p:first-child {
    padding-bottom: 10px;
}
.bill-show-poptit2 {
    width: 795px;
    padding-bottom: 20px;
    background: #fff;
}
.bill-title-txt {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.bill-title-txt p {
    font-size: 15px;
    color: #454545;
    line-height: 30px;
}
.bill-title-txt p em {
    font-size: 30px;
    color: #ff5300;
    margin: 0;
    font-weight: bold;
}
.bill-title-txt p em b {
    font-size: 14px;
}
.bill-rc-show {
    text-align: center;
    width: 220px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -85px 0 0 -110px;
    display: none;
}
.ml15 {
    margin-left: 15px;
}
.bill-close {
    float: right;
    color: #999;
    padding: 12px;
    font: bold 14px/14px simsun;
    text-shadow: 0 1px 0 #ddd;
    text-decoration: none;
}
.bill-close:hover {
    text-decoration: none;
    color: #ddd;
}
.bill-show-info {
    padding: 70px 55px 25px;
    text-align: center;
}
.select-info {
    height: 282px;
}
.bill-show-info-t {
    font-size: 14px;
    color: #454545;
    font-weight: bold;
}
.bill-show-info-t em {
    font-size: 20px;
    color: #ff5300;
    font-style: normal;
    margin: 0;
}
.bill-error {
    font-size: 12px;
    color: #ff5300;
    margin: 10px 0 10px -15px;
    padding-bottom: 10px;
    display: block;
}
.bill-show-info1 {
    background: url("../img/right.png") no-repeat 10px 5px;
    margin-bottom: 20px;
    padding-left: 30px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
}
.bill-show-info2 {
    background: url("../img/sigh.png") no-repeat 10px 5px;
    padding-left: 30px;
}
.bill-mask {
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    display: none;
}
.papair-form {
    float: left;
    position: relative;
}
.papair-form ul {
    padding-left: 10px;
}
.td-btn {
    text-decoration: none;
    padding: 2px 10px;
    text-align: center;
    border: 2px solid #3FCBC0;
    border-radius: 5px;
    color: #3FCBC0;
    background-color: #fff;
}
.user-r-content3 {
    text-align: center;
    margin: 100px auto 0;
}
.u-c-img {
    margin: 10px 0;
}
.top-cover {
    margin-top: -90px !important;
}
.top-arrow {
    bottom: -3px !important;
    border-top-color: #acacac!important;
}
.inner-cover {
    background-color: #acacac!important;
}
.all-s-box {
    width: 150px;
    background-color: #fff;
    padding-right: 20px;
    padding-left: 10px;
    background: url("../img/16-16.png") no-repeat 125px center;
    position: relative;
    border: 1px solid #ccc;
}
.all-s-box span {
    cursor: pointer;
    display: block;
    line-height: 30px;
    width: 100%;
    height: 30px;
    overflow: hidden;
}
.all--ul {
    width: 150px;
    position: absolute;
    left: -1px;
    top: 30px;
    z-index: 999;
    border: 1px solid #ccc;
    background: #fff;
}
.all--ul li {
    display: block;
    line-height: 30px;
    height: 30px;
    width: 148px;
    cursor: pointer;
    padding-left: 10px;
}
.all-s-box ul {
    padding: 0;
    margin: 0;
}
.select-hover {
    background: #3fcbc0;
    color: #fff;
}
.all-bs {
    border: 1px solid #E3E4E8;
    border-radius: 5px;
}
.all--select {
    width: 170px;
    float: left;
    padding: 0;
}
.field-validation-error {
    background: #acacac;
    position: absolute;
    left: 0;
    top: -30px;
    border-radius: 5px;
    padding: 3px 6px;
    color: #fff;
    font-size: 12px;
}
.field-validation-error:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    left: 45%;
    bottom: -5px;
    border-top-color: #acacac;
    border-width: 5px 5px 0;
}
.field-validation-user-success {
    background: transparent url(' ') no-repeat 0px 0px;
    position: absolute;
    right:-30px;
    top:8px;
    height:30px;
    border-radius: 5px;
    padding-left:20px;
    font-size: 12px;
}
.field-validation-user-error {
    background: transparent url(' ') no-repeat 0px 0px;
    position: absolute;
    right: -160px;
    top: 10px;
    border-radius: 5px;
    padding-left:20px;
    color: red;
    font-size: 12px;
    width:150px;
}
.Modify-pass-word p span {
    color:#fff;
}
.share {
    display: none;
}
.user-r-btn {
    width: 345px;
    margin: 30px auto;
}
.user-r-btn .u-btn-tit {
    font-size: 14px;
    color: #333333;
}
.user-r-btn .u-btn-tit b {
    color: #ff5300;
}
.user-r-btn .u-btn-tit em {
    margin: 0;
    font-size: 30px;
    color: #ff5300;
    font-weight: bold;
}
.user-r-btn .u-btn-h1 {
    width: 180px;
    height: 30px;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background-color: #ff5300;
    font-size: 14px;
    display: inline-block;
    line-height: 30px;
    font-weight: bold;
    margin-right: 30px;
}
.user-r-btn .u-btn-h2 {
    border: 1px solid #ff5300;
    background-color: #fff;
    color: #ff5300;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 3px 10px;
    text-decoration: none;
    border-radius: 5px;
}
.user-r-textarea {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top: 20px;
    text-align: center;
}
.user-r-textarea textarea {
    width: 100%;
    height: 185px;
    resize: none;
    border-radius: 5px;
    display: block;
    padding: 10px;
    outline: none;
    line-height: 20px;
}
.u-btn-h3 {
    border: 1px solid #ccc;
    color: #808080 !important;
    background-color: #fff;
    width: 75px;
    text-decoration: none!important;
    height: 35px;
    text-align: center;
    border-radius: 3px;
    outline: none;
    line-height: 32px;
    text-indent: 2px;
    display: block;
    margin: 10px auto;
}
.bill-handle-info:after {
    clear: both;
    visibility: hidden;
    height: 0;
    content: "";
    display: block;
}
.bill-handle-info1 {
    width: 98px;
    height: 50px;
    float: left;
    text-align: right;
}
.bill-handle-info2 {
    width: 510px;
    height: 120px;
    float: left;
    margin-left: 20px;
}
.bill-handle-info2 textarea {
    width: 100%;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
}
textarea:focus::-webkit-input-placeholder {
    color: #ff5300 !important;
}
textarea:focus:-moz-placeholder {
    color: #ff5300 !important;
}
textarea:focus::-moz-placeholder {
    color: #ff5300 !important;
}
textarea:focus:-ms-input-placeholder {
    color: #ff5300 !important;
}
.finish-btn2 {
    border: 1px solid #ff5300;
    width: 115px;
    height: 30px;
    color: #ff5300;
    border-radius: 5px;
    line-height: 30px;
    display: inline-block;
}
.finish-btn3 {
    width: 115px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    background-color: #ff5300;
    display: inline-block;
}
.bill-show2 {
    width: 570px;
    border-radius: 5px;
    background-color: #fff;
    z-index: 9999;
    padding: 0 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -138px 0 0 -285px;
    display: none;
}
.error-txt {
    padding-left: 0!important;
    line-height: 20px;
    margin-top: 5px;
    color: #f00;
    display: none;
}
/*# sourceMappingURL=Member.css.map */