<head>
    <meta charset="UTF-8">
    <title>Tsewell后台管理</title>
    <link rel="stylesheet" type="text/css" href="{$tse_css}common.css"/>
    <link rel="stylesheet" type="text/css" href="{$tse_css}main.css"/>
    <script type="text/javascript" src="{$tse_js}jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{$tse_js}common.js"></script>
    <!--后台模板的js-->
    <script type="text/javascript" src="{$tse_js}/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="{$bootstrap_css}bootstrap.min.css"></script>
    <script type="text/javascript" src="{$bootstrap_js}bootstrap.min.js"></script>
    <!--弹出层样式的js和css-->
    <script type="text/javascript" src="{$tse_js}xcConfirm.js"></script>
    <link rel="stylesheet" type="text/css" href="{{$tse_css}}xcConfirm.css"/>
</head>