<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="/home/index/index">Tsewell</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="/home/index/changePwd" class="change_pwd">修改密码</a></li>
                <li><a href="javascript:void(0)" class="logout">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    //个人账号登出
    $(".logout").click(function(){
        var txt =  "确定退出登录?";
        var option = { onOk: function(){ adminLogout() }};
        window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning,option);
    });

    function adminLogout(){
        window.location.href = '/home/index/logout';
    }
</script>