<!doctype html>
<html>
{{include file='comm/header.html'}}
<body>
{{include file='comm/top.html'}}
<div class="container clearfix">
    {{include file='comm/left.html'}}
    <div class="main-wrap">
        {{include file='comm/navi.html'}}
        <div class="result-wrap">
            <div class="result-content">
                <form action="/home/adspace/add" method="post" id="myform" name="myform">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <tr>
                            <th><i class="require-red">*</i>广告位名称：</th>
                            <td>
                                <input class="common-text required" id="title" name="adspace[name]" size="50" value="" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th>介绍：</th>
                            <td><textarea class="common-text" name="adspace[intro]" style="height: 50px; width: 420px"></textarea></td>
                        </tr>
                        <tr>
                            <th>是否激活：</th>
                            <td>
                                <input name="adspace[status]" value="1" type="radio" checked>是 &nbsp;&nbsp;
                                <input name="adspace[status]" value="-1" type="radio">否
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                            </td>
                        </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>