

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录 - 优客逸家</title>
    <link href="{{$tse_css}}common.min.css" rel="stylesheet"/>
    <link href="{{$tse_css}}Member.css" rel="stylesheet"/>
</head>
<body>
<div class="bk10"></div>
<div class="container">

    <div class="signUp">
        <div class="signUp_top">
            <a href="/" class="signUp_logo"></a>
            <div class="signUp_bg"></div>
        </div>
        <div class="signUp_form">
            <form action="/index/member/login" class="form-horizontal" method="post" role="form">            <div class="signUp_form_title">立即加入成为优客</div>
                <div class="signUp_list">
                    <div class="regin-name">
                        <input class="signUp_number step" data-val="true" data-val-regex="手机号码错误" data-val-regex-pattern="^1[34578]\d{9}$" data-val-required="手机号不能为空" id="Phone" name="Phone" placeholder="手机号" tabindex="1" type="text" value="" />
                        <span class="field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></span>                </div>
                    <div class="regin-pas">
                        <input class="signUp_password step" data-val="true" data-val-regex="登录密码错误" data-val-required="密码不能为空" id="Password" name="Password" placeholder="密码" tabindex="2" type="password" />
                        <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                    </div>
                    <input type="submit" class="signUp_btn" value="登 录" />
                </div>
                <div class="signUp_sen"><a href="/index/member/forget">忘记密码？</a></div>
                <div id="tips_error"></div>
            </form>    </div>
    </div>


    <div class="copyright-menber">
        <p>租房热线：400-000-4170 </p>
        <p>Copyright © 2012-2015 uoko.com ,All Right Reserved 蜀ICP备13015638号-1</p>
    </div>
</div>
<div class="bk30"></div>
<script src="{{$tse_js}}jquery-1.9.1.js"></script>
<script src="{{$tse_js}}base.min.js"></script>
<script src="{{$tse_js}}common.js"></script>
<script src="{{$tse_js}}g.js"></script>

<script src="{{$tse_js}}jquery.validate.js"></script>
<script src="{{$tse_js}}jquery.validate.unobtrusive.js"></script>
<script src="{{$tse_js}}Member.js"></script>


<script type="text/javascript">
    $(function () {
        $("#VerifyCode").val("");
    });
</script>

</body>
</html>


